.placeDescription {
    display: block;
    width: 400px;
    resize: none;
    margin: 0 auto;
    padding: 5px 10px;
    height: 200px;
}

.checkBox {
    display: block;
    width: 438px;
    margin: 20px auto;
}

.imageBlock {
    margin-top: 20px;
    text-align: center;
}

.inputForImages {
    display: none;
}

.inputImage {
    background: #1092e9;
    color: white;
    padding: 8px 10px;
}

.choosenImage {
    margin: 30px auto 10px;
    width: 200px;
    height: auto;
}

.choosenImg {
    border: 1px solid black;
    width: 202px;
    height: auto;
}