header {
    display: flex;
    border: 1px solid black;
    height: 50px;
    align-items: center;
    padding: 0 15px;
    margin-bottom: 40px;
}

h4 {
    width: 80px;
}

.headerTitle {
    width: 50%;
}
.headerLink {
    color: red;
    text-decoration: none;
    width: 80px;
}

.userNav {
    width: 50%;
}

.registrationButtons {
    width: 113px;
    margin: 0 0 0 auto;
}

.loginUserNav {
    text-align: right;
}

.regBtn,
.loginBtn,
.userBtn {
    border: none;
    background: none;
}

.navLink {
    color: black;
}