.content {
    width: 800px;
    margin: 0 auto;
}

.regTitle {
    text-align: center;
}

.regFields {
    display: block;
    width: 400px;
    height: 30px;
    margin: 20px auto;
    padding: 0 10px;
}

.addBtn {
    display: block;
    background: white;
    color: #444;
    width: 190px;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
    cursor: pointer;
    margin: 10px auto;
    transition: 0.5s;
}

.addBtn:hover {
    background: #8ca9e9;
    color: white;
}

.error {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: red;
}

.changer {
    text-align: right;
    text-decoration: underline;
    color: #0000FF;
    cursor: pointer;
}