.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textInfo {
    width: 40%;
}

.placeImage {
    width: 60%;
}

.placeImg {
    width: 600px;
    height: auto;
}

.ratings,
.reviews {
    border-bottom: 1px solid black;
}

.uploadImgBtn {
    display: block;
    background: white;
    color: #444;
    width: 190px;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 25px;
    margin-bottom: 50px;
}

.uploadImgBtn:hover {
    background: #8ca9e9;
    color: white;
}

.gallery {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.galleryImage {
    width: 150px;
    height: auto;
    margin-right: 10px;
}

.galleryImg {
    width: 150px;
    height: auto;
}

.reviewTextArea {
    display: block;
    width: 550px;
    height: 100px;
    margin-bottom: 20px;
    resize: none;
}

.ratingSelector {
    margin-right: 25px;
}