.placesBlock {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.placeCard {
    width: 24%;
    margin-bottom: 20px;
}

.image {
    display: block;
    width: 150px;
    height: auto;
    margin: 0 auto;
    border: 1px solid black;
    cursor: pointer;
}

.img {
    display: block;
    width: 150px;
    height: auto;
}

.placeCardTitle {
    text-align: center;
}

.placeGalleryArray {
    text-align: center;
}